<div class="page-header">
    <h1>All Contacts</h1>
</div>

<div id="alertContainer"></div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!--'track by' $index si usa in ng-repeat e serve per specificare chiavi univoche evitando 
                chiavi duplicate con lo stesso valore -->
            <tr ng-repeat="contact in contacts | filter:search track by $index ">
                <td>{{contact.name}} </td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <!-- la direttiva ng-repeat ci permette di accedere all'indice dell'elemento con $index-->
                <td>
                    <a href="/#!/contact/{{$index}}" class="btn btn-default btn-xs">View</a>
                    <button class="btn btn-danger btn-xs" ng-click="delete($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>