<div class="page-header">
    <h1>All Contacts</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <!-- la direttiva ng-repeat ci permette di accedere all'indice dell'elemento con $index-->
                <td><a href="/#!/contact/{{$index}}" class="btn btn-default btn-xs">View</a></td>
            </tr>
        </tbody>
    </table>
</div>